.home-page-bg {
  background-image: url('/assets/images/app-bg-xl.webp');
  background-repeat: no-repeat;
  background-position: center top -300px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

@media screen and (max-width: 1280px) {
  .home-page-bg {
    background-image: url('/assets/images/app-bg-sm.webp');
    background-position: left -100px top -300px;
  }
}
@media screen and (max-width: 1023px) {
  .home-page-bg {
    background-position: left top -300px;
  }
}
@media screen and (max-width: 640px) {
  .home-page-bg {
    background-position: left top 150px;
  }
}

@keyframes countdown {
  0% {
    stroke-dashoffset: 125.6;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.countdown {
  display: none;
  stroke-width: 1px;
  stroke: #1e1f20;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
  animation: countdown var(--animation-duration, 5000ms) linear;
}

.marquee-animtion {
  animation: marquee var(--marquee-duration, 25s) linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(var(--marquee-final-point));
  }
}
