@tailwind base;
@tailwind components;
@tailwind utilities;
@import './parsedown.css';
@import './utils.css';
@import './fonts.css';

html,
body {
  font-family: 'Gilmer', sans-serif;
  font-weight: 400;
  color: theme('colors.c-text');
  background-color: theme('colors.c-gray.50');
}

@layer utilities {
  .clip-folder-small {
    clip-path: polygon(
      0% 11.128%,
      0% 11.128%,
      0.088% 10.425%,
      0.342% 9.759%,
      0.748% 9.137%,
      1.293% 8.569%,
      1.964% 8.065%,
      2.745% 7.632%,
      3.623% 7.279%,
      4.585% 7.017%,
      5.617% 6.852%,
      6.704% 6.796%,
      20.962% 6.796%,
      20.962% 6.796%,
      21.682% 6.777%,
      22.392% 6.721%,
      23.09% 6.63%,
      23.772% 6.503%,
      24.435% 6.342%,
      25.077% 6.147%,
      25.694% 5.92%,
      26.282% 5.661%,
      26.839% 5.372%,
      27.362% 5.052%,
      32.353% 1.744%,
      32.353% 1.744%,
      32.876% 1.424%,
      33.434% 1.134%,
      34.022% 0.875%,
      34.639% 0.648%,
      35.281% 0.454%,
      35.944% 0.293%,
      36.626% 0.166%,
      37.324% 0.074%,
      38.034% 0.019%,
      38.753% 0%,
      93.296% 0%,
      93.296% 0%,
      94.384% 0.057%,
      95.415% 0.221%,
      96.377% 0.484%,
      97.255% 0.836%,
      98.036% 1.269%,
      98.707% 1.774%,
      99.252% 2.341%,
      99.658% 2.963%,
      99.912% 3.629%,
      100% 4.332%,
      100% 95.668%,
      100% 95.668%,
      99.912% 96.371%,
      99.658% 97.037%,
      99.252% 97.659%,
      98.707% 98.226%,
      98.036% 98.731%,
      97.255% 99.164%,
      96.377% 99.516%,
      95.415% 99.779%,
      94.384% 99.943%,
      93.296% 100%,
      6.704% 100%,
      6.704% 100%,
      5.617% 99.943%,
      4.585% 99.779%,
      3.623% 99.516%,
      2.745% 99.164%,
      1.964% 98.731%,
      1.293% 98.226%,
      0.748% 97.659%,
      0.342% 97.037%,
      0.088% 96.371%,
      0% 95.668%,
      0% 11.128%
    );
  }
  .clip-folder-big {
    clip-path: polygon(
      0% 23.59%,
      0% 23.59%,
      0.035% 22.778%,
      0.138% 22.009%,
      0.302% 21.292%,
      0.521% 20.637%,
      0.792% 20.054%,
      1.107% 19.554%,
      1.461% 19.148%,
      1.848% 18.844%,
      2.264% 18.655%,
      2.703% 18.59%,
      30.384% 18.59%,
      30.384% 18.59%,
      30.596% 18.574%,
      30.804% 18.529%,
      31.01% 18.454%,
      31.21% 18.35%,
      31.406% 18.218%,
      31.596% 18.059%,
      31.779% 17.873%,
      31.953% 17.661%,
      32.12% 17.423%,
      32.276% 17.161%,
      40.953% 1.429%,
      40.953% 1.429%,
      41.11% 1.166%,
      41.276% 0.929%,
      41.451% 0.716%,
      41.633% 0.53%,
      41.823% 0.371%,
      42.019% 0.239%,
      42.22% 0.136%,
      42.425% 0.061%,
      42.634% 0.015%,
      42.845% 0%,
      97.297% 0%,
      97.297% 0%,
      97.736% 0.065%,
      98.152% 0.255%,
      98.539% 0.558%,
      98.893% 0.965%,
      99.208% 1.464%,
      99.479% 2.047%,
      99.698% 2.702%,
      99.862% 3.42%,
      99.965% 4.189%,
      100% 5%,
      100% 95%,
      100% 95%,
      99.965% 95.811%,
      99.862% 96.58%,
      99.698% 97.298%,
      99.479% 97.953%,
      99.208% 98.536%,
      98.893% 99.035%,
      98.539% 99.442%,
      98.152% 99.745%,
      97.736% 99.935%,
      97.297% 100%,
      2.703% 100%,
      2.703% 100%,
      2.264% 99.935%,
      1.848% 99.745%,
      1.461% 99.442%,
      1.107% 99.035%,
      0.792% 98.536%,
      0.521% 97.953%,
      0.302% 97.298%,
      0.138% 96.58%,
      0.035% 95.811%,
      0% 95%,
      0% 23.59%
    );
  }

  .clip-folder-right-lg {
    clip-path: polygon(
      0% 6.667%,
      0% 6.667%,
      0.061% 5.585%,
      0.236% 4.559%,
      0.517% 3.603%,
      0.893% 2.729%,
      1.356% 1.953%,
      1.895% 1.286%,
      2.502% 0.744%,
      3.166% 0.34%,
      3.879% 0.087%,
      4.63% 0%,
      73.059% 0%,
      73.059% 0%,
      73.555% 0.038%,
      74.041% 0.151%,
      74.511% 0.336%,
      74.963% 0.59%,
      75.393% 0.909%,
      75.797% 1.291%,
      76.173% 1.733%,
      76.516% 2.232%,
      76.823% 2.784%,
      77.09% 3.388%,
      78.355% 6.612%,
      78.355% 6.612%,
      78.622% 7.216%,
      78.929% 7.768%,
      79.272% 8.267%,
      79.648% 8.709%,
      80.052% 9.091%,
      80.482% 9.41%,
      80.934% 9.664%,
      81.404% 9.849%,
      81.889% 9.962%,
      82.386% 10%,
      95.37% 10%,
      95.37% 10%,
      96.121% 10.087%,
      96.834% 10.34%,
      97.498% 10.744%,
      98.105% 11.286%,
      98.644% 11.953%,
      99.107% 12.729%,
      99.483% 13.603%,
      99.764% 14.559%,
      99.939% 15.585%,
      100% 16.667%,
      100% 93.333%,
      100% 93.333%,
      99.939% 94.415%,
      99.764% 95.441%,
      99.483% 96.397%,
      99.107% 97.271%,
      98.644% 98.047%,
      98.105% 98.714%,
      97.498% 99.256%,
      96.834% 99.66%,
      96.121% 99.913%,
      95.37% 100%,
      4.63% 100%,
      4.63% 100%,
      3.879% 99.913%,
      3.166% 99.66%,
      2.502% 99.256%,
      1.895% 98.714%,
      1.356% 98.047%,
      0.893% 97.271%,
      0.517% 96.397%,
      0.236% 95.441%,
      0.061% 94.415%,
      0% 93.333%,
      0% 6.667%
    );
  }

  .clip-folder-image {
    clip-path: polygon(
      0% 5%,
      0% 5%,
      0.087% 4.189%,
      0.338% 3.42%,
      0.74% 2.702%,
      1.279% 2.047%,
      1.942% 1.464%,
      2.714% 0.965%,
      3.583% 0.558%,
      4.534% 0.255%,
      5.554% 0.065%,
      6.63% 0%,
      55.312% 0%,
      55.312% 0%,
      55.72% 0.009%,
      56.125% 0.038%,
      56.526% 0.084%,
      56.921% 0.149%,
      57.31% 0.232%,
      57.692% 0.333%,
      58.065% 0.451%,
      58.428% 0.587%,
      58.781% 0.739%,
      59.122% 0.908%,
      69.595% 6.453%,
      69.595% 6.453%,
      69.936% 6.622%,
      70.289% 6.775%,
      70.653% 6.91%,
      71.026% 7.028%,
      71.407% 7.129%,
      71.796% 7.212%,
      72.192% 7.277%,
      72.592% 7.323%,
      72.997% 7.352%,
      73.405% 7.361%,
      93.37% 7.361%,
      93.37% 7.361%,
      94.446% 7.427%,
      95.466% 7.616%,
      96.417% 7.919%,
      97.286% 8.326%,
      98.058% 8.826%,
      98.721% 9.408%,
      99.26% 10.063%,
      99.662% 10.781%,
      99.913% 11.55%,
      100% 12.361%,
      100% 95%,
      100% 95%,
      99.913% 95.811%,
      99.662% 96.58%,
      99.26% 97.298%,
      98.721% 97.953%,
      98.058% 98.536%,
      97.286% 99.035%,
      96.417% 99.442%,
      95.466% 99.745%,
      94.446% 99.935%,
      93.37% 100%,
      6.63% 100%,
      6.63% 100%,
      5.554% 99.935%,
      4.534% 99.745%,
      3.583% 99.442%,
      2.714% 99.035%,
      1.942% 98.536%,
      1.279% 97.953%,
      0.74% 97.298%,
      0.338% 96.58%,
      0.087% 95.811%,
      0% 95%,
      0% 5%
    );
  }
}

/* react select customization */
.country_select_input__control {
  @apply h-[78px] !rounded-xl border !border-c-gray-300  !bg-c-gray-50;
}
.country_select_input__control:hover {
  @apply hover:!border-c-blue-500 hover:!bg-c-gray-50;
}
.country_select_input__control.country_select_input__control--is-focused {
  @apply !border-c-blue-500 !shadow-none;
}
.country_select_input__value-container {
  @apply !pl-8;
}

.country_select_input__single-value {
  @apply !ml-0;
  @apply !text-lg !text-black;
}

.country_select_input__placeholder {
  @apply !ml-0 !text-lg !text-c-gray-500;
}

.country_select_input__input-container {
  @apply !ml-0;
}

.country_select_input__indicator-separator {
  @apply !bg-white/8;
}
.country_select_input__menu {
  @apply !text-black;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
